:root{
    --container-height: 650px;
}
body{
    background-image: url(./Multimedia/anh1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
/* Header */
.header{
    width: 100%;
    height: 125px;
    border-radius: 3px;
    margin-top: 8px;
    background-image: url(./Multimedia/multiplebackground-1.jpg);
}
.header-title{
    font-style: italic;
    color: rgb(223, 89, 89);  
    text-align: center;
    font-weight: 700;
    font-size: 40px; 
    padding-top: 40px;
    user-select: none;
}
/* Containner */
.author{
    float: left;
    width: 28%;
    margin-top: 8px;
    border-radius: 3px;
    height: var(--container-height);
    background-image: url(./Multimedia/multiplebackground-1.jpg);
}
.sign-in{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 14px;
    color: rgb(55, 178, 226);
}
form{
    margin-left: 22px;
}
label{
    margin: 4px;
    border: none;
    border-radius: 2px;
    padding: 4px;
}
input{
    margin: 4px;
    border: none;
    border-radius: 2px;
    padding: 4px;
    font-style: italic;
}
.btn-sign-in-up{
    left: 220px;
    text-align: center;
    position: absolute;
    margin-top: 20px;
}
.btn-sign-in{
    margin-right: 22px;
}
.btn-sign-up, .btn-sign-in{
    width: 65px;
    cursor: pointer;
    border: none;
    background-color: tomato;
    border-radius: 2px;
    padding: 6px;
    box-shadow: 2px 2px 2px #AAA;
}
.search{
    position: relative;
}
.search-seperater-one{
    width: 80%;
    top: 78px;
    right: 32px;
    position: absolute;
}
.search-title{
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(55, 178, 226);
}
.search-item{
    display: flex;
    position: absolute;
    top: 126px;
    left: 8px;
}
.ipt-search{
    width: 250px;
    height: 30px;
    font-size: 14px;
}
.fa-search:before {
    content: "\f002";
    margin-top: -59px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
    font-size: 28px;
}
.menu{
    width: 100px;
    position: absolute;
    top: 490px;
    left: 180px;
}
.menu-title{
    color: rgb(55, 178, 226);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.item{
    margin-bottom: 8px;
    font-weight: 600;
    font-style: italic;
    
}
.link{
    text-decoration: none;
    color: black;
}
.navbar{
    float: left;
    width: 71.3%;
    height: 112px;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 8px;
    background-image: url(./Multimedia/multiplebackground-1.jpg);
}

.nav-date-time{
    margin-left: 560px;
    line-height: 3;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.navbar-list-item-separate::after{ /* Dấu gạch dọc sau Kết nối và Đăng ký */
    content: "";
    border-right: 8px solid rgb(55, 178, 226);
    border-radius: 5px;
    height: 80px;
    margin-left: 82px;
}
.nav-item{
    margin-top: 16px;
    font-weight: 800;
    font-size: 25px;
}
.nav-link{
    text-decoration: none;
    color: rgb(55, 178, 226);
}
.content-one{
    float: left;
    width: 50%;
    height: calc(var(--container-height) - 118px);
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 8px;
    background-image: url(./Multimedia/multiplebackground-1.jpg);
}
.content-two{
    float: left;
    width: 20.6%;
    height: calc(var(--container-height) - 118px);
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 8px;
    background-image: url(./Multimedia/multiplebackground-1.jpg);
}
.main-content{
    height: 100%;
    width: 100%;
}
.content-list{
    margin-left: 20px;
}
.content-item{
    padding-top: 15px;
    font-weight: 600;
    font-style: italic;
}
.content-link{
    text-decoration: none;
    color: black;
}
/* Footer */
.footer{
    float: left;
    width: 100%;
    height: 120px;
    border-radius: 3px;
    margin-top: 8px;
    background-image: url(./Multimedia/multiplebackground-1.jpg);
}